.uploaded-image {
    width: 1em; /* Adjust the width as needed */
    height: 1em; /* Adjust the height as needed */
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .gallery-item {
    width: 100px; /* Set your preferred width */
    height: 100px; /* Set your preferred height */
    position: relative;
    overflow: hidden;
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gallery-item button {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
  }
  