.table-title-my-5
{
    font-size: 30px;
    font-style: italic;
    letter-spacing: 5px;
}
.table-container
{
    max-width: auto;
    margin: 0 auto;
    padding: 50px 100px 0 100px;
    
}

.table-px-3
{
    justify-content: left;
}

.button-delete-selected
{
    background-color: #abc32f !important;
    border: none !important;
    color: #164006  !important;
}

.button-delete-selected:disabled
{
    background-color: #164006 !important;
    border: none !important;
    color: #abc32f  !important;
}

.dtable
{
    background-color: #164006 !important;
    color: #abc32f !important;
    border: none !important;
}

.etable
{
    background-color: #abc32f !important;
    color: #164006 !important;
    border: none !important;
}