.header__content__logo
{
    text-decoration: none;
}

.header__content__logo:hover
{
    color: #164006;
    text-decoration: none;
}

#profile, #cart, #myOrders, #dashboard
{
    color: white;
}

#profile:hover, #cart:hover, #myOrders:hover, #dashboard:hover
{
    color: #164006;
}

.header__content__logo
{
    height: 100px;
    width: 100px;
}