.home-form form
{
  width: 600PX;
  height: auto;
  margin: 0 auto;
}

.form2
{
  background-color: #abc32f !important;
}

.home-form button
{
  background-color: #abc32f;
  color: #164006;
  border: 2px solid #164006;
  margin-left: auto;
  margin-right: 20px;
  box-shadow: none !important;
}

.home-form .hHome
{
  margin-right: 10px;
}

.home-form button:hover
{
  background-color: #164006;
  color: #abc32f;
  border: 2px solid  #abc32f !important;
}

.home-form button:active
{
  background-color: #164006 !important;
  color: #abc32f !important;
  border: 2px solid  #abc32f !important;
}

.home-form label
{
  letter-spacing: 5px;
}

.home-form .topic
{
  background-color: lightgrey;
}

.form2 {
  display: flex;
  flex-direction: column;
}

.form2 .col-12 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form2 {
  width: 800px; /* Set the width to 500 pixels */
  /* background: linear-gradient(to bottom right, #abc32f, #164006); */
  background-color: #164006 !important;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

.radio-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
}

.radio-option {
  flex: 1;

}

.radio-button {
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: border-radius 0.3s, box-shadow 0.3s;
}

.radio-button:hover {
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.radio-item {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}

.radio-item input {
  margin-right: 5px;
  
}

#topic,
#description {
  width: 100%;
  margin-left: 30px;
  box-shadow: none !important;
  border: none !important;
}

#title,
#content {
  width: 100%;
  margin-left: 30px;
  box-shadow: none !important;
  border: 3px solid  #abc32f !important;
}

#topic {
  width: auto;
}

#title {
  width: auto;
}

#description {
  margin-top: 10px;
  height: auto;
}

#content {
  margin-top: 10px;
  height: auto;
}

.form3
{
  display: flex;
  flex-direction: column;

}

.form3 .col-12 {
  align-items: center;
  padding: 10px 60px 20px 0;
}

.form3 {
  width: 800px; /* Set the width to 500 pixels */
  /* background: linear-gradient(to bottom right, #abc32f, #164006); */
  background-color: #164006 !important;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.form3 button
{
  margin-left: 490px;

}

.form-label1
{
  margin-left: -400px;
  margin-bottom: 5px;
}

.form-label2
{
  margin-left: -320px;
}

.form-label3
{
  margin-left: -360px;
  margin-bottom: 0;
}

