@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.l-content {
  text-align: center;
  padding: 15px 50px 50px 50px;
  width: 500px;
  position: absolute;
  margin-top: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.04);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

.logo
{
  height: 300px;
  width: 300px;
  left: 12%;
  padding-top: 0;
  position: relative;
}

.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.164);
}
.field span{
  color: #abc32f;
  width: 40px;
  line-height: 45px;
}
.field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}

.field button 
{
  width: 100%; /* Make the button take the full width of its container */
  box-sizing: border-box; /* Include padding and border in the element's total width */
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px; /* Adjust padding as needed */
}

#login_button
{
  background-color: #abc32f;
  border: none;
}

#login_button:hover
{
  background-color: #164006;
  color: #abc32f;
  border: none;
}
