
  .pfront2 {
    background-color: #abc32f !important;
    margin-top: 50px;
    border-radius: 20px !important;
    border: 5px solid #164006;
    padding-bottom: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  }

  .pfront2 .step
  {
    margin-bottom: 40px;
    /* margin-left: 60px !important; */
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 20px !important;
    border: 5px solid #164006;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 500px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    padding: auto;
    
  }

  .step .desc
  {
    margin: auto;
    /* background-color: #164006; */
    padding-bottom: 20px;
    padding-top: 20px;
  }

 

  .step .col-md-4
  {
    margin: auto;
    background-color: #164006;
  }

  .step #ldesc
  {
    margin-left: -5px !important;
  }

  .desc .text-3xl, .mt-3
  {
    color: #abc32f !important;
  }

  .pfront1 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }

  .center-video iframe
  {
    border-radius: 20px !important;
    border: 5px solid #164006;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  #right-video
  {
    margin: auto;
    margin-left: 15px !important;
  }

  #right-video iframe
  {
    border-radius: 20px !important;
    border: 5px solid #164006;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  #left-video
  {
    /* margin: auto; */
    /* margin-right: 10px !important; */
  }

  #left-video iframe
  {
    border-radius: 20px !important;
    border: 5px solid #164006;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-left: 25px !important;
  }