@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.centeredDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height */
  background: linear-gradient(to right, #fae3ca, #a36a7f); /* Replace with your desired gradient colors */
}

 .custom-carousel {
    height: 50px;
    width: 100%;
  }
  .has-height-300 {
    height: 700px;
    overflow: auto; /* Add this if you want a scrollbar for overflow content */
  }

  /* Add these styles to your existing CSS or create a new CSS file */
.custom-tile {
  height: 500px;
}

@media (max-width: 767px) {
  /* For screens less than 767px wide, set the width to 100% */
  .custom-tile {
    width: 100%;
  }
}

@media (min-width: 768px) {
  /* For screens 768px wide and above, set the width to 50% */
  .custom-tile {
    width: 50%;
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */




/*DOCUMENTATION */

.centered-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 300px;
}


/* Add this to your CSS file or use styled-components */
.scroll-container {
  height: 500px;
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */

  /* Webkit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

/* Animation for scrollbar */
@keyframes fadeInOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.scroll-container:hover {
  /* Apply animation only on hover */
  &::-webkit-scrollbar-thumb {
    animation: fadeInOut 1s forwards;
  }
  scrollbar-color: transparent transparent; /* Firefox */
}

.scroll-container:hover::-webkit-scrollbar-thumb {
  /* Webkit (Chrome, Safari) */
  animation: fadeInOut 1s forwards;
}






/*Analysis*/

.register-photo {
  background:#f1f7fc;
  padding:80px 0;
}

.register-photo .image-holder {
  display:table-cell;
  width:auto;
  /* background:url(../../assets/img/meeting.jpg); */
  background-size:cover;
}

.register-photo .form-container {
  display:table;
  max-width:auto;
  width:80%;
  margin:0 auto;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

.register-photo form {
  display:table-cell;
  width:400px;
  background-color:#ffffff;
  padding:40px 60px;
  color:#505e6c;
}

@media (max-width:991px) {
  .register-photo form {
    padding:40px;
  }
}

.register-photo form h2 {
  font-size:24px;
  line-height:1.5;
  margin-bottom:30px;
}

.register-photo form .form-control {
  background:#f7f9fc;
  border:none;
  border-bottom:1px solid #dfe7f1;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:6px;
  height:40px;
}

.register-photo form .form-check {
  font-size:13px;
  line-height:20px;
}

.register-photo form .btn-primary {
  background:#f4476b;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:35px;
  text-shadow:none;
  outline:none !important;
}

.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
  background:#eb3b60;
}

.register-photo form .btn-primary:active {
  transform:translateY(1px);
}

.register-photo form .already {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

.image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
 }

.chart-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

