@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  
  text-align: center;
  /* background-color: #164006 !important; */
  background: linear-gradient(to bottom, #abc32f, #164006) !important;

}

.centeredDiv {
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height */
  background: linear-gradient(to right, #fae3ca, #a36a7f); /* Replace with your desired gradient colors */
}

 .custom-carousel {
    height: 50px;
    width: 100%;
  }
  .has-height-300 {
    height: 700px;
    overflow: auto; /* Add this if you want a scrollbar for overflow content */
  }

  /* Add these styles to your existing CSS or create a new CSS file */
.custom-tile {
  height: 500px;
}

@media (max-width: 767px) {
  /* For screens less than 767px wide, set the width to 100% */
  .custom-tile {
    width: 100%;
  }
}

@media (min-width: 768px) {
  /* For screens 768px wide and above, set the width to 50% */
  .custom-tile {
    width: 50%;
  }
}

/*DOCUMENTATION */

.centered-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 300px;
}


/* Add this to your CSS file or use styled-components */
.scroll-container {
  height: 800px;
  overflow-y: auto;
  margin-bottom: 50px;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */

  /* Webkit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

/* Animation for scrollbar */
@keyframes fadeInOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.scroll-container:hover {
  /* Apply animation only on hover */
  &::-webkit-scrollbar-thumb {
    animation: fadeInOut 1s forwards;
  }
  scrollbar-color: transparent transparent; /* Firefox */
}

.scroll-container:hover::-webkit-scrollbar-thumb {
  /* Webkit (Chrome, Safari) */
  animation: fadeInOut 1s forwards;
}






/*Analysis*/

.register-photo {
  /* background:#154c09; */
  padding:80px 0; 
}

.register-photo2 {
  background:#f1f7fc;
  padding:80px 0;
  height: 800px;
  width:1100px;
}

.register-photo .image-holder {
  display:table-cell;
  width:auto;
  /* background:url(../../assets/img/meeting.jpg); */
  background-size:cover;
}

.register-photo .form-container {
  display:table;
  max-width:auto;
  width:80%;
  margin:0 auto;
}

.register-photo form {
  display:table-cell;
  width:460px;
  background-color:#fffdfd;
  padding:40px 60px;
  color:#505e6c;
}

@media (max-width:991px) {
  .register-photo form {
    padding:40px;
  }
}

.image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
 }

.chart-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  background-color: #ffffff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Add top margin to create space */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button2 {
  background-color: #76ff7d00; /* Initial background color */
  color: #000; /* Initial text color */
  border: 2px solid #000; /* Black border */
  
  padding: 30px;
  cursor: pointer;
  /* transition: background-color 0.3s ease, color 0.3s ease; Smooth transition effect for background and text color */
 }

 .small-date {
  font-size: small;
  font-family: your-font-family;
}

.button2:hover {
  background-color: #50945300; /* Green color on hover */
}


button:hover {
  background-color: #2d8031; /* Green color on hover */
}

.center-both {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:15%;
  justify-content: center;
  height: 100%;
}

.center-video {
  margin: 60px;
 }
.card {
  margin-bottom: 20px;
}
.gallery img {
  width: 100%;
  height: auto;
  cursor: pointer;
}









  .chart-container .highcharts-series-0 {
    fill: white !important;
    stroke: white !important;
  }

  .chart-container .highcharts-series-1 {
    fill: white !important;
    stroke: white !important;
  }